<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">



<body>
	<footer th:fragment="footer" class="footer">
		<div class="footer-inner">
			<div class="copyright pull-left">
				<a href="/myblog/index" title="不负此生">不负此生</a> | 版权所有，保留一切权利 |基于layui构建 © 2020-2 | 托管于腾讯云主机 
			</div>
			<div class="trackcode pull-right">
				<script>
					var _hmt = _hmt || [];
					(function() {
						var hm = document.createElement("script");
						hm.src = "https://hm.baidu.com/hm.js?3c31e5505682a35b9d1605a968d704bf";
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(hm, s);
					})();
				</script>
			</div>
		</div>
	</footer>

</body>

</html>