.picBtnTop {
	width: 100%;
	height: 300px;
	overflow: hidden;
	zoom: 1;
}

.picBtnTop .hd {
	width: 20%;
	height: 100%;
	float:left;
	overflow: hidden;
}

.picBtnTop .hd ul li {
	width: 80%;
	text-align: center;
	padding: 0 0 5px 5px;
	
}

.picBtnTop .hd ul li img {
	width: 100%;
	height: 70px;
	cursor: pointer;
	vertical-align: bottom;
}

.picBtnTop .hd ul li.on img {
	border-color: #C1FFE4;
	opacity:"0.5";
}

.picBtnTop .bd {
	width: 80%;
	height: 100%;
	float:left;
}

.picBtnTop .bd li {
	position: relative;
	zoom: 1;
	vertical-align: middle;
}

.picBtnTop .bd li .pic {
	position: relative;
	z-index: 0;
}

.picBtnTop .bd li .pic img {
	width: 100%;
	height: 300px;
	vertical-align: bottom;
}

.picBtnTop .bd li .bg {
	width: 70%;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	filter: alpha(opacity = 60);
	opacity: 0.6;
}

.picBtnTop .bd li .title {
	width: 70%;
	height: 30px;
	line-height: 30px;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 2;
}

.picBtnTop .bd li .title a {
	color: #fff;
	padding-left: 15px;
}


